body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.form-group{
	padding: 20px;
}

.form-control{
	width: 300px;
}

h1{
	text-align: center;
}

.top{
	padding: 20px;
}

.bottom{
	padding: 20px;
}

.button{
	padding-top: 10px;
}

#number{
	padding-left: 30px;
	padding-right: 30px;
  	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
	background: white;
    border: 5px solid;
    border-radius: 10px;
    font-size: 80px;
    vertical-align: center;
    line-height: 100px;
    margin: 0.25em 0 0.5em;
    box-shadow: $box-shadow;
    font-family: sans-serif;
  }
 
 #bold {
  font-weight: bold;
}

#compare-text {
  padding-top: 5px;
}